
.img__circle {
  border-color: $white;
  border-style: solid;
  border-width: 3px;
  border-radius: 50%;
  filter: drop-shadow(5px 5px 12px #b1b1b1);
  height: auto;
  max-width: 100%;
  width: 300px;
}

.img__width--200 {
  width: 200px;
}

.img__width--150 {
  width: 150px;
}

.img__fl {
  width: 400px;
}

.img__uwl {
  width: 400px;
}