.blue-link {
  color: $primary-blue;
  font-family: $secondaryfont-stack;
  font-size: 1.1em;
  font-weight: $secondaryfont-weight-bold;
}

.blue-link:hover {
  color: $primary-red;
  text-decoration: none;
}

.schedule-link {
  margin-left: -20px;
}

// News rollup Styles
// =========================================
.news__link {
  text-decoration: none !important; // IMPORTANT NEEDED TO PREVENT UNDERLINE ON LINK HOVER
}

// Change the news heading's color to blue when hovering any part of the news item
.news__cell-left:hover .news__heading, //this selector isn't functioning properly on hover
.news__cell-right:hover .news__heading,
.news__cell-left:focus .news__heading, //this selector isn't functioning properly on hover
.news__cell-right:focus .news__heading {
// Change the news headings color to blue when hovering any part of the news item
  color: $primary-blue;
}

// link__offset class used to offset anchor jump-links via CSS only method
// Links need offseting to compensate for fixed nav menu
// ===========================================================================================
.links__offset::before {
  // mobile devices get slightly different offset b/c of different sized fixed header
  content: " ";
  display: block;
  height: 126px;  // defining a height pushes the element down the page
  margin-top: -126px;  // negative margin is needed to push it back to its original position
  pointer-events: none;  // w/ out this it will interfere with the sites navigation links
  visibility: hidden;
}

@media screen and (min-width: 768px) {
    .links__offset::before {
      height: 150px;
      margin-top: -150px;
  }
}

.links__no-underline:hover {
  text-decoration: none !important;
}

a[href^="tel:"] {
  white-space: nowrap;
}
