
.svg {
  height: 200px;
  max-width: 100%;
  width: 200px;
  &--white {
    fill: $white;
  }
  &--blue {
    fill: $primary-blue;
  }
  &--blue-grey {
    fill: #8493a1;
    opacity:.75;
  }
  &__edi {
    .st0 {
      fill: $white;
    }
    .st1 {
      fill: $primary-blue;
    }
    .st2 {
      fill: $svg-blue-light;
    }
    .st3 {
      fill: $primary-blue;
      stroke: $primary-blue;
      stroke-width: 6.229;
      stroke-miterlimit: 10;
    }
    .st4 {
      fill: none;
    }
  }
  &__eaf,
  &__tf {
    	.st0 {
    	  fill: $primary-blue;
    	}
    	.st1 {
    	  fill: none;
    	}
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .svg--smaller .svg {
    height: 150px;
    width: 150px;
  }
}

.svg__anim--wrapper {
  height: auto;
  overflow: hidden;
  width: 100%; // leave these in non-alphabetic order so that 'max-width' overides 'width' in the stylesheet's cascade
  max-width: 298px; // (leave these in non-alphabetic order) this provides responsive display of the SVGs
}

#mortarboardSvg {
  overflow: visible;
}

.action-cards__col--mortarboard:hover #visibleHat,
.action-cards__col--mortarboard:focus #visibleHat,
#mortarboardSvg.animateMobile #visibleHat {
  animation-name: mainHat;
  animation-duration: .5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 2;
  animation-direction: alternate;
}

.action-cards__col--mortarboard:hover #leftHat,
.action-cards__col--mortarboard:focus #leftHat,
#mortarboardSvg.animateMobile #leftHat {
  animation-name: leftHat;
  animation-duration: .5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 2;
  animation-direction: alternate;
}

.action-cards__col--mortarboard:hover #rightHat,
.action-cards__col--mortarboard:focus #rightHat,
#mortarboardSvg.animateMobile #rightHat {
  animation-name: rightHat;
  animation-duration: .6s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 2;
  animation-direction: alternate;
}

.action-cards__col--mortarboard:hover #rightHat2,
.action-cards__col--mortarboard:focus #rightHat2,
#mortarboardSvg.animateMobile #rightHat2 {
  animation-name: rightHat2;
  animation-delay: .2s;
  animation-duration: .5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 2;
  animation-direction: alternate;
}

@keyframes mainHat {
  from {
    transform: translatey(0px) rotate(0deg) scale(1, 1);
  }
  to {
    transform: translatey(-15px) rotate(5deg) scale(1.2, 1.2);
  }
}

#leftHat,
#rightHat,
#rightHat2 {
  transform-origin: center center;
}
@keyframes leftHat {
  from {
    transform: translate(10px,20px) rotate(0deg) scale(.5, .5);
  }
  to {
    transform: translate(10px,-10px) rotate(7deg) scale(.4, .4);
  }
}

@keyframes rightHat {
  from {
    transform: translate(10px,20px) scale(.5, .5);
  }
  to {
    transform: translate(10px,-10px) scale(.4, .4);
  }
}

@keyframes rightHat2 {
  from {
    transform: translate(20px,40px) rotate(120deg) scale(.5, .5);
  }
  to {
    transform: translate(20px,-20px) rotate(120deg) scale(.4, .4);
  }
}

#dollar {
  transform-origin: 100px 30px;
}

.svg__eaf {
  overflow: visible;
}

.svg__animation--col:hover #dollar,
.svg__animation--col:focus #dollar,
.svg__eaf.animateMobile #dollar {
  animation-name: float;
  animation-duration: .3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 2;
  animation-direction: alternate;
}

@keyframes float {
  0% {
    transform: rotate3d(1, 30, 1, 0deg);
  }
  50% {
    transform: rotate3d(1, 30, 1, 90deg);
  }
  100% {
    transform: rotate3d(1, 30, 1, 180deg);
  }
}