@use '../0-tools/vars' as *;

// Table styles
// ================================================

.tables--compact {
  color: $grey-1;
  border-spacing: 15px;
  & th {
    padding-top: .5em;
    padding-bottom: .5rem;
  }
  & tr td {
    padding: 1px;
  }
  &__td--padding-x tr td {
    padding-left: .5rem;
    padding-right: .5rem;
  }
}
