// Table styles
// ================================================

.table {
  color: $grey-1;
  border-spacing: 15px;
  & th {
    padding-top: .5em;
    padding-bottom: .5rem;
  }
  & tr td {
    padding: 1px;
  }
}
