//  HTML5 VIDEO PLAYER STYLE RULES FOR GIVE DAY LANDING PAGE VIDEO EMBED
//
// ====================================================================== //
//

// Styling for the video's placeholders: <img> of video's thumb and loading GIF
// These are placeholder elements that are removed from the JS in `loadVideos.js`
.video__img--wrapper {
  position: relative;
}

.video__loader {
  height: 75px;
  width: 75px;

  &--wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
}
//  Video el, play-button, error-message styling
.video {
  width: 100% !important;
  height: auto !important;
}

.video__play-button--wrapper {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  pointer-events: none;
}

@media screen and (max-width: 991px) { // Hide the play button in mobile
  .video__play-button--wrapper {
    display: none !important; // Requires !important to override BS4 `.d-flex{ display: flex !important; }`
  }
}

@keyframes mouse-effect {
  from {
    opacity: .9;
    transform: scale(1);
  }
  to {
    opacity: .995;
    transform: scale(1.2);
  }
}

.video__play-button {
  border: none;
  filter: drop-shadow(4px 7px 6px #000000);
  height: 150px;
  opacity: .9;
  pointer-events: all;
  text-indent: -9999rem;
  transition: all ease-in-out;
  width: 150px;
  &--bg {
    background-color: transparent;
    background-image: url('/assets/img/play.svg');
    background-repeat: no-repeat;
    background-size: 100% auto;
  }
  &:hover,
  &:focus {
    animation-direction: alternate;
    animation-duration: .35s;
    animation-iteration-count: 2;
    animation-name: mouse-effect;
    animation-timing-function: ease-in-out;
  }
}

.video__message {
  background-color: rgba(102, 102, 102, .25);
  border-style: solid;
  border-width: thin;
  border-radius: 5px;
  border-color: $grey-6;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

// Styling for the buttons under the video embed:
// "View on YouTube" & "Share" buttons, parent elements, & modal
.video__options {
  margin-top: -.5rem;
}

.video__svg--share {
  transform: scale(-1, 1);
  height: 22px;
  vertical-align: top;
  fill: #007bff;
  width: 22px;
}

button.btn-outline-primary:hover .video__svg--share {
  fill: $white;
}

.video__modal--input {
  width: 100%;
}

.video__clipboard {
  fill: #007bff;
}

#copy:hover .video__clipboard {
  fill: $white;
}

// Font/typographical styling for the video loading-error message
.video__typography {
  &--whoops {
    font-size: 2rem;
    font-weight: 500;
  }
}

@media screen and (min-width: 768px) {
  .video__typography {
    &--whoops {
      font-size: 2.75rem;
    }
    &--p {
      font-size: 1.35rem;
    }
  }
}

@media screen and (min-width: 992px) {
  .video__typography {
    &--whoops {
      font-size: 3.5rem;
    }

    &--p {
      font-size: 1.5rem;
    }
  }
}