---
layout: default
no_alert: true
baseurl: ../
title: GIVE DAY
description: >-
  The Kankakee Community College (KCC) Foundation presents GIVE DAY 2021 #strongtogether. 
  GIVE DAY, August 27 2021, is the one day that alumni, families, students, staff, faculty, and friends 
  unite to support one common goal: supporting the Kankakee Community College Mission—enhancing the 
  quality of life through learning.
video_loading_image: assets/img/giveday-2021_thumb_change-lives.jpg
video_title: KCC GIVE DAY
video_youtube_share: 'https://youtu.be/TUi1DBpIzUs'
video_sources:
  - src: https://cdn.kcc.edu/foundation/kcc-giveday_1080p_2021.mp4
    type: video/mp4
  - src: https://cdn.kcc.edu/foundation/kcc-giveday_1080p_2021_crf30-a128k.webm
    type: video/webm
  - src: https://cdn.kcc.edu/foundation/kcc-giveday_1080p_2021_v6-a3.ogv
    type: video/ogg
video_mobile_sources:
  - src: https://cdn.kcc.edu/foundation/kcc-giveday_2021.mp4
    type: video/mp4
  - src: https://cdn.kcc.edu/foundation/kcc-giveday_2021_crf30_a128k.webm
    type: video/webm
---

{% include facebook-javascript.html %}
{% include twitter-for-websites.html %}

<main class="position__offset-giveday-nav">
  <section class="benefits__blue-section">
    <div class="container-fluid px-0">
      <div class="container">

        <div class="positioning__iframe-wrapper">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/ehnj2ebDefA?rel=0&autoplay=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        
        {% comment %}
        <div class="row">
          <div class="col">
            <div class="p-0 mt-5 mx-3 mx-md-5">
              <div class="card mb-4">
                <div class="card-body py-5 px-3">
                  <h3 class="mb-4 typography__h5">The KCC Foundation held its first Give Day on August 27, 2020</h3>
                  <p>Thanks to all who gave! Your gift will provide technology for students who have none, assist a
                    student who needs emergency assistance, or it will be used for our new Equity, Diversity and
                    Inclusion Center on main campus.</p>

                  <p class="mb-2"><strong>Together we raised $42,540.42!! Thank you!! #strongtogether!</strong></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endcomment %}
        <h3 class="typography__large-h4 text-center mb-0 mt-3">GIVE DAY</h3>
        <h4 class="benefits__typography--h5 text-center mb-4">#strongtogether</h4>
        <p class="typography__larger-p">GIVE DAY is the one day that alumni, families, students, staff, faculty, and friends
          unite to support one common goal: supporting KCC's mission—Enhancing Quality of Life through Learning.</p>
        {% comment %}
        <p class="typography__larger-p">The KCC Foundation would like to acknowledge that this year&apos;s event is
          happening during a very challenging time in our community. Given the unprecedented changes occurring on
          our campus and the impact of the pandemic on our community, it feels right to unite our college community
          and supporters in a common effort. We also know that our students need our support more than ever.
          <strong>100% of your gift will have a direct and immediate impact on KCC students.</strong>
        </p>
        {% endcomment %}
        <p class="typography__larger-p"><strong>100% of your gift will have a direct and immediate impact on KCC students.</strong></p>
        <p class="typography__larger-p">We sincerely hope that you consider helping make KCC&apos;s GIVE DAY a success. Any gift, no matter what the size, can change lives.</p>

        <div class="row mt-5 text-center">
          <div class="col-12 coll-sm-12 offset-lg-2 col-lg-8 mb-3 svg__animation--col">
            {% include svg/icon-emergency-assistance-fund.html %}
            <h5 class="benefits__typography--h6 my-4">GIVE DAY FUND</h5>
            <h6 class="typography__h5">Funds will be used to address students&apos; emerging needs. For example, many students need
              technology like laptops or personal WiFi, others need emergency assistance for things that financial aid won&apos;t cover,
              some face food insecurity and other personal hardships. Whatever the need, your contribution to the GIVE DAY fund will
              be there to help.</h6>
          </div>
        </div>

        <div class="row my-2 py-2">
          <div class="col">

            <div class="text-center mb-5">
              <a
                href="{{ page.baseurl }}give/form/giveday/"
                class="btn btn-primary buttons__bolder buttons__large mb-2"
              >Donate Now</a>
            </div>
            <p class="typography__larger-p mt-3">The Kankakee Community College Foundation is a 501c3 organization.
              <strong>All
                donations are tax deductible.</strong></p>
            <p class="typography__larger-p">Checks can be made payable to the <strong>Kankakee Community College
                Foundation</strong>. Please send to: <strong>KCC Foundation, 100 College Drive, Kankakee, IL
                60901</strong></p>
            {% include giveday-contact.html %}
          </div>
        </div>



      </div>
    </div>
  </section>
  <section class="my-4 py-4">
    <div class="container">
      <div class="row">
        <div class="col">
          <h5 class="typography__larger-h5 text-center mb-4">Student Success Stories</h5>
          <p class="typography__larger-p text-center"><strong>When you donate to KCC GIVE DAY #strongtogether, you will
              be a part of a student&apos;s success&nbsp;story:</strong></p>
          <div class="row">
            <div class="col-12 mb-3">
              <blockquote class="blockquote">
                <div class="blockquote__quote text-center">
                  <img
                    alt="Kyla Brychta selfie"
                    class="img-fluid img__quote"
                    data-src="{{ page.baseurl }}uploads/kyla-brychta.jpg"
                    height="267"
                    src="{{ page.baseurl }}assets/img/placeholder_16to9.jpg"
                    width="150"
                  >
                  <p class="blockquote__p text-left">&ldquo;My name is Kyla, I am a former Kankakee Community College
                    student. I am proud to say
                    that I am a three time scholarship recipient. I majored in Business Communications and received my
                    Associates of the
                    Arts degree in early 2021.</p>
                  <p class="blockquote__p text-left">Community college has transformed my life in a way that I have yet
                    to find words for. I
                    started my journey as a homeless high school student. Carrying a past of abuse and neglect I had no
                    hope for the
                    future until KCC gave me a purpose.</p>
                  <p class="blockquote__p text-left">KCC allowed me to further my education while I began my career. The
                    flexibility of my
                    education allowed me to work my way up at Nucor, from a 17 year old intern into the administrator I
                    am today. I was so
                    moved by what Kankakee Community College had to offer, that I am working towards becoming an adjunct
                    professor as I
                    continue my career at Nucor.</p>
                  <p class="blockquote__p text-left">KCC donors have given me the foundation to build a life for myself,
                    to build a future. I
                    reflect on the time prior to my enrollment as a reminder of who I was, and who I can be. The
                    meaningful donations from
                    people like you could mean a new beginning for someone just like me. Through education we can
                    empower each other and
                    our community.&rdquo;</p>
                </div>
                <footer class="blockquote-footer">
                  Kyla Brychta
                </footer>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="benefits__blue-section">
    <div class="container">
      <div class="row my-2 py-2">
        <div class="col">

          <div class="text-center">
            <a
              href="{{ page.baseurl }}give/form/giveday/"
              class="btn btn-primary buttons__bolder buttons__large mb-2"
            >Donate Now</a>
          </div>
          <p class="typography__larger-p mt-3">The Kankakee Community College Foundation is a 501c3 organization.
            <strong>All
              donations are tax deductible.</strong></p>
          <p class="typography__larger-p">Checks can be made payable to the <strong>Kankakee Community College
              Foundation</strong>. Please send to: <strong>KCC Foundation, 100 College Drive, Kankakee, IL
              60901</strong>
          </p>
          {% include giveday-contact.html %}
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="container my-3 py-3">
    <div class="row">
      <div class="col">
        <h5 class="typography__larger-h5 text-center mb-0">Spread the Word</h5>
        <div class="text-center mb-3">
          <img
            src="{{ page.baseurl }}uploads/give-day-FB-1080x566.png"
            class="img-fluid"
            alt="Banner with the KCC cavalier mascot and stylized text that reads 'Aug. 27, GIVE DAY #strongtogether'"
          >
        </div>
        <div class="col mb-2 d-flex justify-content-center">
          <div
            class="fb-like mr-2 fb__transform"
            data-href="https://foundation.kcc.edu/giveday/"
            data-width=""
            data-layout="button"
            data-show-faces="false"
            data-action="like"
            data-size="large"
            data-share="true"
          >
          </div>
          <a
            class="twitter-share-button buttons__transform"
            href="https://twitter.com/intent/tweet"
            data-text="KCC  GIVE DAY - August 27, 2021 #strongtogether"
            data-url="https://foundation.kcc.edu/giveday/"
            data-size="large"
          >Tweet</a>
        </div>
        <p class="typography__larger-p">Help us spread the word and support KCC students and initiatives. On November 18,
          please use your social media and/or text messages with the hashtag #strongtogether to share information on
          GIVE DAY.</p>

        <p class="typography__larger-p">The following are a few sample Facebook posts:</p>
        <ul class="typography__larger-p">
          <li>It&apos;s finally here! Today is the day to make a gift to Kankakee Community College. Help us show the world
            that we are #strongtogether</li>
          <li>Every gift matters! Don&apos;t forget to visit www.kcc.edu/giveday and show the world that we are
            #strongtogether</li>
          <li>You don&apos;t have to give a lot, every little bit counts. www.kcc.edu/giveday #strongtogether</li>
        </ul>




      </div>
    </div>
  </section>

  <div class="container mt-5">
    <div class="row">
      <div class="col">
        <p><span class="typography__larger-p"><em>&ldquo;Our lives begin to end the day we become silent about things
              that matter.&rdquo;</em></span> - Martin Luther King Jr.</p>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="text-center">
          <img
            src="{{ page.baseurl }}assets/img/kcc-placeholder.png"
            data-src="{{ page.baseurl }}uploads/foundation-logo.png"
            class="img-fluid"
            alt="KCC Foundation logo"
          >
        </div>

      </div>
    </div>
  </div>
</main>
