---
layout: default-core
homepage: true
baseurl: ./
title: Home
description: >-
  The Kankakee Community College Foundation helps secure funds for scholarships,
  programs and other educational opportunities for students, faculty and staff.
  Donate today to KCC Foundation to help students achieve.
scholarships_available: true
slides:
  - image: uploads/thumbnail_opt.jpg
    alt-text: The Power of Education
    url: ./about
  - image: uploads/2017_graduates_KCC_066.jpg
    alt-text: The Power of Giving
    url: '#'
    text: The **POWER** of Giving
---
<section>
    <div class="container container--tan-bg">
      <h1 class="visually-hidden">KCC Foundation Homepage</h1>
      {% include hero-slider.html alternate_heading_level="p" %}
      <div class="row">
        <div class="col text-center">
          <h2 class="red-heading editable">
            Your Gift Makes a Lasting Impact
          </h2>
          <p class="typography__h5--description typography--heading-line-height editable">
            The KCC Foundation connects students with scholarships and gives donors, alumni and community members ways to support KCC through giving and volunteer&nbsp;service.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 text-center action-cards__col--margin-btm action-cards__col--scholarships">
          <div class="action-cards__svg--wrapper">
            <a href="{{ page.baseurl }}scholarships/">
              {% include svg/scholarship.html %}
            </a>
          </div>
          <a class="links__no-underline" href="{{ page.baseurl }}scholarships/">
            <h3 class="typography__orange-h4">Scholarships</h3>
          </a>
          <div class="row action-cards__text-wrapper">
            <div class="col align-self-center">
              <p class="typography__h5--description typography--heading-line-height editable">
                  Complete one online application to be considered for all eligible scholarships. The KCC Foundation awards over $400,000 in scholarships to 250+ students&nbsp;annually.
              </p>
            </div>
          </div>
            <a href="{{ page.baseurl }}scholarships" id="applyNow" class="btn btn-primary">
              View Scholarships
            </a>
        </div>
        <div class="col-md-4 text-center action-cards__col--margin-btm action-cards__col--give">
          <div class="impact__give">
            <div class="action-cards__svg--wrapper">
              <a href="{{ page.baseurl }}give/">
                {% include svg/give.html %}
              </a>
            </div>
            <a href="{{ page.baseurl }}give/" class="links__no-underline">
              <h3 class="typography__orange-h4">Give</h3>
            </a>
            <div class="row action-cards__text-wrapper">
              <div class="col align-self-center">
                <p class="typography__h5--description typography--heading-line-height editable">
                    When you give, you create opportunities for students, enhance academic programming
                    and improve our campus. Click below to explore all giving&nbsp;options.
                </p>
              </div>
            </div>
              <a href="{{ page.baseurl }}give/" class="btn btn-primary">Explore Giving Options</a>
          </div>
        </div>
        <div class="col-md-4 text-center action-cards__col--margin-btm action-cards__col--volunteer">
          <div class="action-cards__svg--wrapper">
            <a target="_blank" rel="noopener noreferrer" href="https://form.jotform.com/82685340579973">
              {% include svg/volunteer.html %}
            </a>
          </div>
          <a target="_blank" rel="noopener noreferrer" href="https://form.jotform.com/82685340579973" class="links__no-underline">
            <h3 class="typography__orange-h4">Volunteer</h3>
          </a>
          <div class="row action-cards__text-wrapper">
            <div class="col align-self-center">
              <p class="typography__h5--description typography--heading-line-height editable">
                  Make a difference in the lives of KCC students by volunteering! We are looking for
                  volunteers to review scholarship applications and help out with&nbsp;events.
              </p>
            </div>
          </div>
          <a target="_blank" rel="noopener noreferrer" href="https://form.jotform.com/82685340579973" class="btn btn-primary">Volunteer with KCC</a>
        </div>
      </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col stories__left-col--margin-top typography__col--heading-underline">
        <h2 class="typography__red-h3 typography__red-h3--margin-btm">Alumni Stories</h2>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <ol id="jsTeaseList" class="latest-news-widget__latest__tease-group">
          {% assign sorted = site.alumnis | sort: 'preview_priority' %}
          {% for alumni in sorted limit:4 %}
          {% if alumni.staff_alumni == true %}
            {% assign path = 'alumni/staff-stories' %}
          {% else %}
            {% assign path = 'alumni/alumni-stories' %}
          {% endif %}
          <li class="latest-news-widget__latest__tease latest-news-widget__latest__tease--default latest-news-widget__latest__tease--has-image">
            <a
              id="jsTeaseLink{{ forloop.index }}"
              class="latest-news-widget__latest__tease__link js-hp-latest-tease-link"
              href="{{ page.baseurl }}{{ path }}#{{ alumni.name | replace: 'ñ', 'n' | replace: ' ', '-' | downcase }}"
            >
              <div
                class="latest-news-widget__latest__tease__img-mod latest-news-widget__latest__tease__img-mod--default"
                style="background-image: url('{{ page.baseurl }}{{ alumni.portrait_image }}')"
              ></div>
              <div class="latest-news-widget__latest__tease__hgroup">
                <p class="typography__stories--quote typography--heading-line-height mb-1">{{ alumni.quote }}</p>
                <h3 class="latest-news-widget__latest__tease__overline typography__latest-news-widget__rollup-list-h">
                  &nbsp;-&nbsp;{{ alumni.name }}
                </h3>
              </div>
              <p><button type="button" class="btn btn-primary alumni__btn">Read Story</button></p>
            </a>
          </li>
          {% endfor %}
        </ol>
      </div>
    </div>
    </div>

</section>
{%- comment -%}
<section>
  <div class="container">
    <div class="row">
      <div class="col stories__left-col--margin-top">
        <h2 class="typography__red-h3 typography__red-h3--margin-btm">Scholarships</h2>
        <div class="stories__heading-underline"></div>
        <a href="{{ page.baseurl }}scholarships/">
          <img class="stories__banner" src="{{ page.baseurl }}uploads/scholarship-static-web-image_with-link.jpg" alt="" />
        </a>
      </div>
    </div>
  </div>
</section>
{%- endcomment -%}
<section>
  {% include contacts-tan.html %}
</section>
