---
layout: default
baseurl:
title: Foundation
description: >-
  The Kankakee Community College Foundation helps secure funds for scholarships,
  programs and other educational opportunities for students, faculty and staff.
  Donate today to KCC Foundation to help students achieve.
scholarships_available: true
slides:
  - image: uploads/hero-1.jpg
    alt-text: The Power of Community
    url: 'https://foundation.kcc.edu'
    text: The **POWER** of Community
  - image: uploads/students_on_back_patio_oct2015_D41_0619-web.jpg
    alt-text: The Power of Education
    url: 'https://foundation.kcc.edu'
    text: The **POWER** of Education
  - image: uploads/2017_graduates_KCC_066.jpg
    alt-text: The Power of Giving
    url: 'https://foundation.kcc.edu'
    text: The **POWER** of Giving
  - image: uploads/scholarship-recipients.jpg
    alt-text: The Power of Giving
    url: 'https://foundation.kcc.edu'
    text:
---

<section class="position__offset-fixed-nav">
    <div class="container container--tan-bg">
      <div class="row">
        <div class="col-md-12 hero-slider__slider">
        {% for slide in page.slides %}
          {% if forloop.first == true %}
          <div>
            <a href="{{ slide.url }}"><img src="{{page.baseurl}}{{slide.image}}" class="img-fluid hero-slider__slider--slide-img" alt="{{slide.alt-text}}" /></a>
            <div class="hero-slider__slider--heading-container text-center">
              <h3 class="hero-slider__slider--slide-heading">{{slide.text}}</h3>
            </div>
          </div>
          {% else %}
          <div>
            <a href="{{ slide.url }}"><img src="assets/img/placeholder.png" data-src="{{page.baseurl}}{{slide.image}}" class="img-fluid hero-slider__slider--slide-img" alt="{{slide.alt-text}}" /></a>
            <div class="hero-slider__slider--heading-container text-center">
              <h3 class="hero-slider__slider--slide-heading">{{slide.text}}</h3>
            </div>
          </div>
          {% endif %}
        {% endfor %}
        </div>
      </div>
      <div class="row">
        <div class="col text-center"><h2 class="red-heading editable">
    Your Gift Makes a Lasting Impact
</h2></div>
      </div>
      <div class="row">
        <div class="col-md-4 text-center action-cards__col--margin-btm action-cards__col--scholarships">
          <div class="action-cards__svg--wrapper">
            <a href="{{ page.baseurl }}scholarships/">
              {% include svg/scholarship.html %}
            </a>
          </div>
          <a class="links__no-underline" href="{{ page.baseurl }}scholarships/"><h4 class="typography__orange-h4">Scholarships</h4></a>
          <div class="row action-cards__text-wrapper">
            <div class="col align-self-center">
              <h5 class="typography__h5 editable">
                  Complete one online application to be considered for all eligible scholarships. Each year, $200,000 in scholarships are distributed among nearly 200 students by the KCC Foundation.
              </h5>
            </div>
          </div>
            <a href="{{ page.baseurl }}scholarships" id="applyNow" class="btn btn-primary">Learn More</a>
        </div>
        <div class="col-md-4 text-center action-cards__col--margin-btm action-cards__col--give">
          <div class="impact__give">
            <div class="action-cards__svg--wrapper">
              <a href="{{ page.baseurl }}give/">
                {% include svg/give.html %}
              </a>
            </div>
            <a href="{{ page.baseurl }}give/" class="links__no-underline"><h4 class="typography__orange-h4">Give</h4></a>
            <div class="row action-cards__text-wrapper">
              <div class="col align-self-center">
                <h5 class="typography__h5 editable">
                    When you give, you create opportunities for students, enhance academic programming and improve our campus. Click below to explore all giving options.
                </h5>
              </div>
            </div>
              <a href="{{ page.baseurl }}give/" class="btn btn-primary">Give Now</a>
          </div>
        </div>
        <div class="col-md-4 text-center action-cards__col--margin-btm action-cards__col--volunteer">
          <div class="action-cards__svg--wrapper">
            <a target="_blank" rel="noopener noreferrer" href="https://form.jotform.com/82685340579973">
              {% include svg/volunteer.html %}
            </a>
          </div>
          <a target="_blank" rel="noopener noreferrer" href="https://form.jotform.com/82685340579973" class="links__no-underline">
            <h4 class="typography__orange-h4">Volunteer</h4>
          </a>
          <div class="row action-cards__text-wrapper">
            <div class="col align-self-center">
              <h5 class="typography__h5 editable">
                  Make a difference in the lives of KCC students by volunteering! We are looking for volunteers to review scholarship applications and help out with events.
              </h5>
            </div>
          </div>
          <a target="_blank" rel="noopener noreferrer" href="https://form.jotform.com/82685340579973" class="btn btn-primary">Sign Up</a>
        </div>
      </div>
  </div>
</section>

<!-- HIDDEN TEMPORARILY BY JOHN
<section>
  <div class="container">
    <div class="row">
      <div class="col stories__left-col--margin-top typography__col--heading-underline">
        <h3 class="typography__red-h3 typography__red-h3--margin-btm">Upcoming Events</h3>
      </div>
      <div class="events__banner--wrapper">
        <div class="events__banner-left--wrapper">
          <img class="events__banner-left--title-img" src="{{ page.baseurl }}assets/img/swine-wine-dine-title.png" title="Swine Wine and Dine" alt="Swine Wine and Dine" />
          <span class="events__date">Saturday, Aug. 25, 2018</span><br />
          <span class="events__details">KCC Riverfront Campus &bull; Ticket price $125</span>
          <div class="events__banner-left--angle-div"></div>

        <div class="events__banner-right">
        </div>
        <a href="{{ page.baseurl }}events/swine-wine-and-dine/" class="btn btn-primary stories__btn-info--position">Learn More</a>








-->

<section>
  <div class="container">
    <div class="row">
      <div class="col stories__left-col--margin-top typography__col--heading-underline">
        <h3 class="typography__red-h3 typography__red-h3--margin-btm">Alumni Stories</h3>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <ol id="jsTeaseList" class="latest-news-widget__latest__tease-group">
          {% assign sorted = site.alumnis | sort: 'year' | reverse %}
          {% for alumni in sorted limit:4 %}

            <li class="latest-news-widget__latest__tease latest-news-widget__latest__tease--default latest-news-widget__latest__tease--has-image">
            <!--  Tease is active   -->
              <a id="jsTeaseLink{{ forloop.index }}" class="latest-news-widget__latest__tease__link js-hp-latest-tease-link" href="{{ page.baseurl }}alumni/alumni-stories/#{{ alumni.name | replace: ' ', '-' | downcase }}" data-image="{{ alumni.portrait }}" data-image-alt="" data-tease-type="" data-index="{{ forloop.index0 }}" aria-hidden="false">
                <div class="latest-news-widget__latest__tease__img-mod latest-news-widget__latest__tease__img-mod--default" style="background-image: url('{{ page.baseurl }}{{ alumni.portrait }}')">
                </div>
              <div class="latest-news-widget__latest__tease__hgroup">
                <h3 class="typography__stories--quote">{{ alumni.quote }}</h3>
                <h3 class="latest-news-widget__latest__tease__overline typography__latest-news-widget__rollup-list-h">&nbsp;-&nbsp;{{ alumni.name }}</h3>
              </div>
              <p><button type="button" class="btn btn-primary alumni__btn">Read More</button></p>
            </a>
          </li>

          {% endfor %}
        </ol>
      </div>
    </div>
    </div>

</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col stories__left-col--margin-top">
        <h3 class="typography__red-h3 typography__red-h3--margin-btm">Scholarships</h3>
        <div class="stories__heading-underline"></div>
        <a class="text-center" href="{{ page.baseurl }}scholarships/">
          <div class="text-center">
          <img class="stories__banner" src="{{ page.baseurl }}assets/img/kcc-placeholder.png" data-src="{{ page.baseurl }}uploads/banner_foundation-scholarships_superhero.png" alt="Apply one time to be considered for all available scholarships. Application opens Nov. 1 - Mar. 1 for fall 2020. $200,000 in scholarships awarded annually. Go to foundation.kcc.edu/scholarships." />
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
<section class="contacts__section-margin">
  <div class="container">
    <div class="row">
      <div class="col typography__col--heading-underline-tan">
        <h3 id="contact" name="contact" class="typography__red-h3 typography__red-h3--tan--margin-btm links__offset">Contacts</h3>
      </div>
    </div>
  </div>
  <div class="container contacts__padding-top contacts__padding-left container--tan-bg">
    <div class="row">
      <div class="col-lg-6 col-md-6 contacts__col-bottom-margin">
        <!-- Coach 1 row -->
        <div class="row">
          <!-- Coach 1 left image div (inner-left column) -->
          <div class="col-4 contacts__col--img"><img src="uploads/kelly-myers.jpg" alt="Photo of Kelly Myers" class="img-fluid contacts__portrait modal-link editable" /></div>
          <!-- Coach 1 right info div (inner-right column) -->
          <div class="col-8 float-right">
            <h5 class="typography__contacts--name editable">
                Kelly Myers
            </h5>
            <h6 class="typography__contacts--title editable">
                Executive Director
            </h6>
            <p class="editable">
                815-802-8260<br /><a target="_blank" href="https://form.jotform.com/90435102482954?submitEmail=kmyers%40kcc.edu&amp;to[first]=Kelly&amp;to[last]=Myers">Email</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 contacts__col-bottom-margin">
        <!-- Coach 1 row -->
        <div class="row">
          <!-- Coach 1 left image div (inner-left column) -->
          <div class="col-4 contacts__col--img"><img src="uploads/dawn-graveline.jpg" alt="Photo of Dawn Graveline" class="img-fluid contacts__portrait modal-link editable" /></div>
          <!-- Coach 1 right info div (inner-right column) -->
          <div class="col-8 float-right">
            <h5 class="typography__contacts--name editable">
                Dawn Graveline
            </h5>
            <h6 class="typography__contacts--title editable">
                Manager I
            </h6>
            <p class="editable">
                815-802-8252<br /><a target="_blank" href="https://form.jotform.com/90435102482954?submitEmail=dgraveline%40kcc.edu&amp;to[first]=Dawn&amp;to[last]=Graveline">Email</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 contacts__col-bottom-margin">
        <!-- Coach 1 row -->
        <div class="row">
          <!-- Coach 1 left image div (inner-left column) -->
          <div class="col-4 contacts__col--img"><img src="uploads/marcia-papineau.jpg" alt="Photo of Marcia Papineau" class="img-fluid contacts__portrait modal-link editable" /></div>
          <!-- Coach 1 right info div (inner-right column) -->
          <div class="col-8 float-right">
            <h5 class="typography__contacts--name editable">
                Marcia Papineau
            </h5>
            <h6 class="typography__contacts--title editable">
                Specialist I
            </h6>
            <p class="editable">
                815-802-8260<br /><a target="_blank" href="https://form.jotform.com/90435102482954?submitEmail=mpapineau%40kcc.edu&amp;to[first]=Marcia&amp;to[last]=Papineau">Email</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 contacts__col-bottom-margin">
        <!-- Coach 1 row -->
        <div class="row">
          <!-- Coach 1 left image div (inner-left column) -->
          <div class="col-4 contacts__col--img"><img src="uploads/jennifer-zimmerman.jpg" alt="Photo of Jennifer Zimmerman" class="img-fluid contacts__portrait modal-link editable" /></div>
          <!-- Coach 1 right info div (inner-right column) -->
          <div class="col-8 float-right">
            <h5 class="typography__contacts--name editable">
                Jennifer Zimmerman
            </h5>
            <h6 class="typography__contacts--title editable">
                Coordinator of Scholarships<br />&amp; Donor Relations
            </h6>
            <p class="editable">
                815-802-8251<br /><a target="_blank" href="https://form.jotform.com/90435102482954?submitEmail=jzimmerman%40kcc.edu&amp;to[first]=Jennifer&amp;to[last]=Zimmerman">Email</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
