---
layout: sub-nav
baseurl: '../../'
title: Alumni Stories
description: ''
---

<main>
  <div class="container">
    <div class="row">
      <div class="col alumni__col">
        <nav>
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            {% assign sorted = site.alumnis | sort: 'year' | reverse %}
            {% for alumni in sorted %}
            {% assign alumni_id = alumni.name | replace: ' ', '-' | downcase %}
              {% if forloop.first == true %}
              <a class="nav-item nav-link active" id="nav-{{ alumni_id }}-tab" data-toggle="tab" href="#nav-{{ alumni_id }}" role="tab" aria-controls="nav-{{ alumni_id }}" aria-selected="true">
                <span class="alumni__nav">
                  <div class="latest-news-widget__latest__tease__img-mod latest-news-widget__latest__tease__img-mod--default float-left" style="background-image: url('{{ page.baseurl }}{{ alumni.portrait }}')">
                  </div>
                  <h3 class="latest-news-widget__latest__tease__overline typography__latest-news-widget__rollup-list-h alumni__h3--width">{{ alumni.name }}</h3>
                </span>
                </a>
              {% else %}
                <a class="nav-item nav-link" id="nav-{{ alumni_id }}-tab" data-toggle="tab" href="#nav-{{ alumni_id }}" role="tab" aria-controls="nav-{{ alumni_id }}" aria-selected="false">
                  <span class="alumni__nav">
                    <div class="latest-news-widget__latest__tease__img-mod latest-news-widget__latest__tease__img-mod--default float-left" style="background-image: url('{{ page.baseurl }}{{ alumni.portrait }}')">
                    </div>
                    <h3 class="latest-news-widget__latest__tease__overline typography__latest-news-widget__rollup-list-h alumni__h3--width">{{ alumni.name }}</h3>
                  </span>
                  </a>
                {% endif %}
              {% endfor %}
          </div>
        </nav>
      </div>
    </div>
  </div>

  <div class="container sub-nav__content--wrapper">
    <div class="row">
      <div class="col">
        <div class="tab-content alumni__tab-content" id="nav-tabContent">
          {% for alumni in sorted %}
          {% assign alumni_id = alumni.name | replace: ' ', '-' | downcase %}
          {% if forloop.first == true %}
            <div class="tab-pane fade show active" id="nav-{{ alumni_id }}" role="tabpanel" aria-labelledby="nav-{{ alumni_id }}-tab">
              <img src="{{ alumni.baseurl }}{{ alumni.portrait }}" class="float-left img-fluid alumni__portrait" alt="Portrait of {{ alumni.name }}">
              <h3 class="blue-heading">{{ alumni.name }}</h3>
              <p><strong>{{ alumni.degree }}, {{ alumni.year }}</strong></p>
              <p>{{ alumni.content }}</p>
            </div>
          {% else %}
            <div class="tab-pane fade" id="nav-{{ alumni_id }}" role="tabpanel" aria-labelledby="nav-{{ alumni_id }}-tab">
              <img src="{{ alumni.baseurl }}{{ alumni.portrait }}" class="float-left img-fluid alumni__portrait" alt="Portrait of {{ alumni.name }}">
              <h3 class="blue-heading">{{ alumni.name }}</h3>
              <p><strong>{{ alumni.degree }}, {{ alumni.year }}</strong></p>
              <p>{{ alumni.content }}</p>
            </div>
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

</main>
