---
layout: sub-nav
baseurl: '../../'
title: Alumni Stories
sub-nav_section: alumni
description: ''
---

<main>
  <div class="container sub-nav__content--wrapper">
    <div class="row">
      <div class="col">
        {% comment %}
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Jump to...
          </button>
          <ul class="dropdown-menu">
          {% assign sorted = site.alumnis | where_exp: 'item', 'item.staff_alumni != true' | sort_natural: 'sort_name' %}
          {% for alumni in sorted %}
            {% assign alumni_id = alumni.name | replace: ' ', '-' | replace: '&', 'and' | downcase | remove: '.' | remove: '(' | remove: ')' | remove: '/' | remove: "'" %}
            <li>
              <a class="dropdown-item" href="#{{ alumni_id }}">{{ alumni.name }}</a>
            </li>
          {% endfor %}
          </ul>
        </div>
        {% endcomment %}
        {% include alumni-accordion.html %}
      </div>
    </div>
  </div>

</main>
