    <!-- Typekit font for KCC logo-font -->
    <link rel="stylesheet" href="https://use.typekit.net/mli7lsm.css">
    <!-- Link to Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Oswald:wght@400;500&family=Roboto:wght@400;500;700{% if page.title == 'GIVE DAY' %}&family=Saira:wght@700{% endif %}" rel="stylesheet">
    {%- if page.title == 'Recipients/Donors' %}
    <!-- Typekit font for donor-recipients page -->
    <link rel="stylesheet" href="https://use.typekit.net/zbo6ffr.css">
    {%- endif %}
