<!-- Accordian module still in development -->
      <div id="accordion">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h2 id="dontate" class="mb-0 main-heading">
              <button id="plusButton" class="btn btn-link buttons__btn-link-custom membershipTarget" aria-expanded="true" aria-controls="collapseOne">
                <span id="plusMinus" class="buttons__blue-circle buttons__plus"></span>&#160;Donate to KCC Foundation
              </button>
            </h2>
          </div>
          <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
              <div class="editable">
                <h4 class="blue-heading-small">The Power of Giving</h3>
                  <p>Your donation to the KCC Foundation advances the college’s mission by raising funds to support the college’s students, faculty, staff, programs and unmet needs.</p>
                  <p>The Power of KCC general scholarships [link to giving page that goes to General Scholarship Fund] makes an immediate impact on the lives of students. This fund assists students with books, digital codes, educational supplies, screening tests and more.</p>
                  <p>The Power of the Cavalier Annual Fund (link to giving page that goes to Cavalier Annual Fund). These unrestricted dollars allow us to use your gift where the need is the greatest.</p>
                  <p><a href="https://51743.thankyou4caring.org/page.aspx?pid=298" class="btn btn-primary">Donate Now</a></p>
                  <p><strong>The Power of You</strong><br>
                    The KCC Foundation has many opportunities for giving that fit your philanthropic needs.</p>
                  <p><strong><a href="{{ page.baseurl }}give/planned-giving/">Planned Giving</a></strong><br>
                    Provide a benefit to the college while reducing the income, estate and gift tax burden on your estate and heirs.</p>
                  <p><strong><a href="{{ page.baseurl }}give/womens-giving-circle/">Women’s Giving Circle</a></strong><br>
                    Assists students who are in their second year who face a barrier to completion. This grant allows for unique assistance providing resources so students can remain in class and acheive their degree or certificate.</p>
                  <p><strong><a href="{{ page.baseurl }}give/employee-giving/">KCC Employee Giving</a></strong><br>
                    Support students in achieving their academic goals and future aspirations</p>
                  <h4 class="blue-heading-small">Matching Gift</h4>
                  <p>You can double your gift to the KCC Foundation if your employer matches gifts. To find out if your employer offers a matching gift program, please contact your human resources department.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h2 id="rights" class="mb-0 main-heading">
              <button id="plusButton" class="btn btn-link buttons__btn-link-custom membershipTarget" aria-expanded="true" aria-controls="collapseTwo">
                <span id="plusMinus" class="buttons__blue-circle buttons__plus"></span>&#160;Donor Bill of Rights
              </button>
            </h2>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
              <div class="editable">
                <p>Philanthropy is voluntary action for the common good. It is a tradition of giving and sharing that is primary to quality of life. To assure that philanthropy merits the respect and trust of the general public, and that donors and prospective donor can have full confidence in the not-for-profit organizations and causes they are asked to support, we declare that all donors have these rights:</p>
                <ul>
                  <li>To be informed of the organization's mission, of the way the organization intends to use donated resources, and the capacity to use donations effectively for their intended purposes.</li>
                  <li>To know the identity of those serving on the organization's governing board, and to expect the board to exercise prudent judgment in its stewardship responsibilities.</li>
                  <li>To have access to the organization's most recent financial statements.</li>
                  <li>To be assured their gifts will be used for the purposes for which they were given.</li>
                  <li>To receive appropriate acknowledgement and recognition.</li>
                  <li>To have their donation handled with respect and confidentiality to the extent provided by law.</li>
                  <li>To participate in professional relationships with representatives organizations of interest.</li>
                  <li>To be informed whether those seeking donations are volunteers, employees or hired solicitors.</li>
                  <li>To have your name removed from mailing lists that the organization may share.</li>
                  <li>To ask questions when making a donation; and to prompt, truthful and forthright answers.g</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h2 id="gift-fees" name="personal-trainers" class="mb-0 main-heading">
              <button id="plusButton2" class="btn btn-link collapsed buttons__btn-link-custom trainersTarget" aria-expanded="false" aria-controls="collapseTwo">
                <span id="plusMinus2" class="buttons__blue-circle buttons__plus"></span>&#160;Administrative Gift Fees
              </button>
            </h2>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
              <div class="editable">
                <h3 class="blue-heading">Administrative Gift Fees</h3>
                <h4 class="blue-heading-small">Administrative Gift Fees at the Kankakee Community College Foundation Effective: July 1, 2018</h4>

                <p>The Kankakee Community College Foundation is committed to being accountable to our donors and provides timely gift receipts, accurate records, expert management of funds, and efficient disbursement of funds to programs at the College. For the purpose of strengthening the development program, and partially defraying related administrative costs, a fee of 5% will be assessed on all temporarily restricted gifts made to the Kankakee Community College Foundation, effective July 1, 2018.</p>

                <p>The administrative gift fee will be assessed at the time of the gift. Any deferred or planned gift will be assessed the fee when the gift is realized, not when the pledge is made.</p>

                <p>If a gift is made by a private foundation that has a written policy stating it will not pay administrative fees, the Kankakee Community College Foundation will waive the fees. All parties have the right to ask for the administrative gift fee to be waived.</p>



                <h4 class="blue-heading-small">FAQ’s on Administrative Gift Fees</h4>
                <p><strong>Q. Why does the KCC Foundation have a gift fee?</strong></p>

                <p>A. Gift fee revenue is directly related to the Kankakee Community College Foundation's cost of doing business. Effective fundraising requires deployment of financial resources to cover direct costs of soliciting, processing, and accounting for donated funds. As gifts to benefit Kankakee Community College increase, the costs of gift receipting, accounting, investment and disbursement increase. Unrestricted gifts made to the College for the area of greatest need are not assessed a gift fee.</p>

                <p><strong>Q. How are operations of the Kankakee Community College Foundation funded?</strong></p>

                <p>A. Foundation operations are funded through a combination of revenue from special events, gifts from individuals, corporate/foundation support, gift fees and support from Kankakee Community College.</p>

                <p><strong>Q. Do other colleges and universities charge gift fees?</strong></p>

                <p>A. A gift fee ranging from 3 to 6 percent is not uncommon at university and college foundations throughout the country.</p>

                <p>Q. The local non-profit organizations I support don't charge gift fees. What's the difference?</p>

                <p><strong>A. The difference is primarily one of terminology. All community organizations have operating costs. In general, revenue from contributions helps in part to support them—whether or not a formal gift "fee" is identified.</strong></p>
              </div>
            </div>
          </div>
        </div>
      </div>
