<div class="container position__offset-alert">
  <div class="row">
    <div class="col">
      <div class="alert alert-warning">
        <p class="typography__alert mb-0">
          <strong>Alert:</strong> KCC is open and ready to help you reach your goals. New classes start throughout the year. Visit <a href="https://coronavirus.kcc.edu/" target="_blank" rel="noopener noreferrer">coronavirus.kcc.edu</a> for details and procedures to visit a college facility.
        </p>
      </div>
    </div>
  </div>
</div>
