<footer class="footer footer__margin">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 footer__mobile--margin-bottom">
        <div class="row">
          <div class="col-lg-12 text-center">
            <a href="https://foundation.kcc.edu" class="footer-link">
              <h5 class="footer-heading">foundation.kcc.edu</h5>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="text-center">
              <span>
                <a 
                  href="https://www.facebook.com/KankakeeCommunityCollege/"
                  class="footer-social-links"
                  target="_blank"
                  rel="noopener">
                  <img
                    src="{{page.baseurl}}assets/img/facebook-f_white.svg"
                    class="footer-icons"
                    alt="Facebook">
                </a>
              </span>
              <span>
                <a
                  href="https://twitter.com/KCCedu"
                  class="footer-social-links"
                  target="_blank"
                  rel="noopener">
                  <img
                    src="{{page.baseurl}}assets/img/x-logo.svg"
                    class="footer-icons"
                    alt="X">
                </a>
              </span>
              <span>
                <a
                  href="https://www.instagram.com/kccedu/"
                  class="footer-social-links"
                  target="_blank"
                  rel="noopener">
                  <img
                    src="{{page.baseurl}}assets/img/instagram-white.svg"
                    class="footer-icons"
                    alt="Instagram">
                </a>
              </span>
              <span>
                <a
                  href="https://www.youtube.com/user/KankakeeCommCollege"
                  class="footer-social-links"
                  target="_blank"
                  rel="noopener">
                  <img
                    src="{{page.baseurl}}assets/img/youtube-white.svg"
                    class="footer-icons"
                    alt="YouTube">
                </a>
              </span>
              <span>
                <a
                  href="https://www.pinterest.com/kccedu/"
                  class="footer-social-links"
                  target="_blank"
                  rel="noopener">
                  <img
                    src="{{page.baseurl}}assets/img/pinterest-p_white.svg"
                    class="footer-icons"
                    alt="Pinterest">
                </a>
              </span>
              <span>
                <a
                  href="https://www.linkedin.com/company/kankakee-community-college"
                  class="footer-social-links"
                  target="_blank"
                  rel="noopener">
                  <img
                    src="{{page.baseurl}}assets/img/linkedin-white.svg"
                    class="footer-icons"
                    alt="LinkedIn">
                </a>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <a href="https://www.kcc.edu" target="_blank" rel="noopener">
          <img
            src="{{page.baseurl}}assets/img/kcc-text-logo.svg"
            alt="Kankakee Community College"
            class="img-fluid mx-auto">
        </a>
        <p>
          100 College Drive Kankakee, IL 60901 <br>
          <a class="links__darker-link" href="tel:18158028100">815-802-8100</a> <br>
          &copy;&nbsp;<span id="currentYear">{{ 'now' | date: '%Y' }}</span> Kankakee Community College
        </p>
      </div>
    </div>
  </div>
</footer>
