
.action-cards__svg--wrapper {
  height: 95px;
}

.action-cards__col--margin-btm {
  margin-bottom: 40px;
}

#volunteerSvg,
#giveSvg,
#scholarshipSvg  {
  overflow: visible;
}

.action-cards__col--volunteer:hover #hand,
.action-cards__col--volunteer:focus #hand {
  animation: wave .5s 2 alternate;
}

.action-cards__col--volunteer:hover #rightHand,
.action-cards__col--volunteer:focus #rightHand {
  animation-name: rightWave;
  animation-duration: .5s;
  animation-timing-function: ease-in-out;
  animation-delay: .25s;
  animation-iteration-count: 2;
  animation-direction: alternate;
}

.action-cards__col--volunteer:hover #leftHand,
.action-cards__col--volunteer:focus #leftHand {
  animation-name: leftWave;
  animation-duration: .5s;
  animation-timing-function: ease-in-out;
  animation-delay: .3s;
  animation-iteration-count: 2;
  animation-direction: alternate;
}

@keyframes wave {
  from {
    transform: translatey(0px) rotate(0deg) scale(1, 1);
  }
  to {
    transform: translatey(-15px) rotate(5deg) scale(1.1, 1.1);
  }
}

@keyframes rightWave {
  from {
    transform: translatex(0px) translateY(0px) rotate(0deg) scale(1, 1);
  }
  to {
    transform: translatex(5px) translateY(-8px) rotate(4deg) scale(1.05, 1.05);
  }
}

@keyframes leftWave {
  from {
    transform: translatex(0px) translateY(0px) rotate(0deg) scale(1, 1);
  }
  to {
    transform: translatex(-7px) translateY(-8px) rotate(-5deg) scale(1.05, 1.05);
  }
}

.action-cards__col--give:hover #openHand,
.action-cards__col--give:focus #openHand {
   animation: slideHand .5s 2 alternate;

}

@keyframes slideHand {
  from {
    transform: translatex(0px) scale(1, 1);
  }
  to {
    transform: translatex(5px) scale(1.05, 1.05);
  }
}

.action-cards__col--give:hover #gift,
.action-cards__col--give:focus #gift {
  animation: floatGift .5s 2 alternate;
}

@keyframes floatGift {
  from {
    transform: translatexy(-7px) scale(1, 1);
  }
  to {
    transform: translatey(3px) scale(1.3, 1.22);
  }
}

@keyframes dropIn1 {
  from {
    transform: translatey(0px) scale(1, 1);
  }
  to {
    transform: translatey(-20px) scale(1.1, 1.1);
  }
}

@keyframes dropIn2 {
  from {
    transform: translatey(0px) scale(1, 1);
  }
  to {
    transform: translatey(-20px) scale(1.1, 1.1);
  }
}

.action-cards__col--scholarships:hover #dollarSign2,
.action-cards__col--scholarships:focus #dollarSign2 {
  animation: dropIn2 .5s 2 alternate;
}

.action-cards__col--scholarships:hover #dollarSign1,
.action-cards__col--scholarships:focus #dollarSign1 {
  animation: dropIn1 .5s 2 alternate;
}

.action-cards__scholarships--hide-button {
  display: none;
}

.action-cards__text-wrapper {
  margin-bottom: 10px;
  min-height: 8rem;
}
