@use '../0-tools/vars' as *;

// Styles defining image hover effects:
.img-wrapper {
  right: 0;
}

.img-link {
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  max-width: 400px;
  overflow: hidden;
  position: relative;
}

.img-ease {
  transition: all 1s ease-in-out;
}

.img-link:hover img.img-ease,
.img-link:focus-visible img.img-ease,
.row:has(.img-btn:focus-visible) .img-ease,
.row:has(.img-btn:hover) .img-ease {
  transform: scale(1.2, 1.2);
}

.img-hover--border {
  border-color: #b1b1b1;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
}
