
.shop-smile__wrapper {
  background-color: $grey-2;
  border-radius: 5px;
  border-color: $black;
  border-style: solid;
  border-width: thin;
  bottom: -320px;
  padding-bottom: 25px;
  padding-left: 0;
  padding-right: 5px;
  padding-top: 35px;
  position: fixed;
  right: 2px;
  z-index: 9999;
}

@media screen and (min-width: 360px) {
  .shop-smile__wrapper {
    padding-left: 10px;
    padding-right: 15px;
    right: 12px;
  }
}

@media screen and (min-width: 375px) {
  .shop-smile__wrapper {
    right: 20px;
  }
}

@media screen and (min-width: 400px) {
  .shop-smile__wrapper {
    right: 30px;
  }
}

@media screen and (min-width: 400px) {
  .shop-smile__wrapper {
    right: 40px;
  }
}

@media screen and (min-width: 768px) {
  .shop-smile__wrapper {
    margin-right: 0;
  }
}


@keyframes shopSmileSlideIn {
  from {
    bottom: -320px;
  }

  to {
    bottom: 20px;
  }
}

@keyframes shopSmileSlideOut {
  from {
    bottom: 20px;
  }

  to {
    bottom: -320px;
  }
}

.shop-smile__wrapper--slide-in {
  animation: shopSmileSlideIn 1.2s;
}

.shop-smile__wrapper--slide-out {
  animation: shopSmileSlideOut 1.2s;
}

.shop-smile__wrapper--show {
  bottom: 20px;
}

.shop-smile__exit {
  cursor: pointer;
  display: block;
  padding: .5rem;
  position: absolute;
  right: 5px;
  top: 0;
  width: 2rem;
  &--icon {
    height: 16px; // height must be defined for proper IE display
    width: 16px; // width must be defined for proper IE display
  }
}

.st0{
  fill:#868686;
  transition: fill .5s ease-in-out;
}

.shop-smile__exit:hover .st0 {
  fill: $black;
}

.shop-smile__tab--wrapper {
  background-color: $smile-orange;
  // no shorthand borders huh?
  border-bottom-width: 0;
  border-left-color: $black;
  border-left-style: solid;
  border-left-width: thin;
  border-right-color: $black;
  border-right-style: solid;
  border-right-width: thin;
  border-top-color: $black;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top-style: solid;
  border-top-width: thin;
  color: $white;
  cursor: pointer;
  padding: 10px;
  position: absolute;
  right: 5px;
  top: -55px;
  z-index: 10001;
}


.shop-smile__tab--wrapper--hidden {
  visibility: hidden;
}

.shop-smile__tab--wrapper--show {
  visibility: visible;
}

//.shop-smile__tab--shaddow {
//  box-shadow: 0px -1px 10px #7c7c7c;
//}

.shop-smile__img--position {
  position: relative;
  bottom: 4px;
}
