
.shop-smile__wrapper {
  background-color: $grey-2;
  border-bottom-width: 15px;
  border-color: $grey-2;
  border-left-width: 10px;
  border-radius: 5px;
  border-right-width: 0;
  border-style: solid;
  border-top-width: 40px;
  bottom: -310px;
  margin-right: -145px; // Negative margin to offset width of amazon smile widget for centering it
  position: fixed;
  z-index: 9999;
}

@media screen and (min-width: 350px) {
  .shop-smile__wrapper {
    border-left-width: 20px;
    border-right-width: 20px;
    bottom: -320px;
    margin-right: -170px;
    right: 50%; // position at 50% from right-side. above margin-right compensates for the width of the amazon smile widget to center it in the viewport
    width: 340px;
  }
}

@media screen and (min-width: 768px) {
  .shop-smile__wrapper {
    margin-right: 0;
    right: 40px;
  }
}


@keyframes shopSmileSlideIn {
  from {
    bottom: -310px;
  }

  to {
    bottom: 20px;
  }
}

@keyframes shopSmileSlideOut {
  from {
    bottom: 20px;
  }

  to {
    bottom: -310px;
  }
}

@media screen and (min-width: 350px) {
  @keyframes shopSmileSlideIn {
    from {
      bottom: -320px;
    }

    to {
      bottom: 20px;
    }
  }

  @keyframes shopSmileSlideOut {
    from {
      bottom: 20px;
    }

    to {
      bottom: -320px;
    }
  }
}

@media screen and (min-width: 768px) {
  @keyframes shopSmileSlideIn {
    from {
      bottom: -320px;
    }

    to {
      bottom: 35px;
    }
  }

  @keyframes shopSmileSlideOut {
    from {
      bottom: 35px;
    }

    to {
      bottom: -320px;
    }
  }
}

.shop-smile__wrapper--slide-in {
  animation: shopSmileSlideIn 1.2s;
}

.shop-smile__wrapper--slide-out {
  animation: shopSmileSlideOut 1.2s;
}

.shop-smile__wrapper--show {
  bottom: 20px;
}

@media screen and (min-width: 768px) {
  .shop-smile__wrapper--show {
    bottom: 35px;
  }
}

.shop-smile__exit {
  cursor: pointer;
  display: block;
  padding: .5rem;
  position: absolute;
  right: 5px;
  top: -40px;
  width: 2rem;
}

@media screen and (min-width: 350px) {
  .shop-smile__exit {
    right: -10px;
  }
}

.st0{
  fill:#868686;
  transition: fill .5s ease-in-out;
}

.shop-smile__exit:hover .st0 {
  fill: $black;
}

.shop-smile__tab--wrapper {
  background-color: $smile-orange;
  // no shorthand borders huh?
  border-bottom-width: 0;
  border-left-color: $black;
  border-left-style: solid;
  border-left-width: thin;
  border-right-color: $black;
  border-right-style: solid;
  border-right-width: thin;
  border-top-color: $black;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top-style: solid;
  border-top-width: thin;
  color: $white;
  cursor: pointer;
  padding: 10px;
  position: absolute;
  right: 20px;
  top: -94px;
  z-index: 10001;
}

@media screen and (min-width: 350px) {
  .shop-smile__tab--wrapper {
    right: 0;
  }
}

.shop-smile__tab--wrapper--hidden {
  visibility: hidden;
}

.shop-smile__tab--wrapper--show {
  visibility: visible;
}

//.shop-smile__tab--shaddow {
//  box-shadow: 0px -1px 10px #7c7c7c;
//}

.shop-smile__widget-wrapper {
  position: relative;
  top: -8px;
  left: -8px;
}

.shop-smile__img--position {
  position: relative;
  bottom: 4px;
}
