// Styles for the gallery image slider slick carousels //
//==================================================== //

#gallerySlider {
  display: none;
}

.slick-initialized {
  display: block !important;
}

.slick-prev--modal::before,
.slick-next--modal::before {
  opacity: .9;
}

.slick-next--modal {
  transform: scale(2.5,2.5);
  right: 20px;
  z-index: 9999;
}

.slick-prev--modal {
  transform: scale(2.5,2.5);
  left: 20px;
  z-index: 10000;
}

button.gallery__button {
  background-color: $white;
  cursor: pointer;
}

#galleryNav .slick-slide {
  border-color: rgba(0,0,0,0.5);
  border-style: solid;
  border-width: 1px;
  margin-left: .25rem;
  margin-right: .25rem;
}

@media screen and (min-width: 768px) {
  #galleryTrack {
    border-color: rgba(0,0,0,0.5);
    border-style: solid;
    border-width: 1px;
    width: 60%;
  }
}
