
.stories__cell-left {
  text-align: center;
}

@media screen and (min-width: 420px) {
  .stories__cell-left {
    display: table-cell;
    text-align: inherit;
  }
}

.stories__cell-right {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  vertical-align: top;
}

@media screen and (min-width: 420px) {
  .stories__cell-right {
    display: table-cell;
    padding-top: 15px;
  }
}

@media screen and (min-width: 768px) {
  .stories__cell-right {
    padding-top: 0;
  }
}

.stories__no-bullet {
  list-style-type: none;
  margin-bottom: 20px;
}

@media screen and (min-width: 420px) {
  .stories__no-bullet {
    margin-bottom: 40px;
  }
}

.stories__list {
  margin-left: -20px;
}

.stories__left-col--margin-top {
  margin-top: 40px;
}

.stories__right-col--margin-top {
  margin-top: 40px;
}

@media screen and (min-width: 768px) {
  .stories__img {
    width: 120px;
  }
}

@media screen and (min-width: 992px) {
  .stories__img {
    width: 125;
  }
}

.stories__heading-underline {
  background-image: url('../../assets/img/heading-bg-underline.png');
  background-position: 0 50px;
  background-repeat: no-repeat;
  height: 60px;
  width: 100%;
  position: absolute;
  top: 0;
  margin-left: -15px; // counteract Bootstrap padding
}

.stories__banner {
  height: auto;
  margin-left: -15px;
  margin-top: -27px;
  width: calc(100% + 30px);
}

.stories__banner-heading {
  position: absolute;
  top: calc(100vw * 9 / 16 / 2.5);
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
  color: $white;
  font-family: 'Oswald', sans-serif;
  font-size: 1rem;
  margin-left: -15px; // to counteract bootstrap padding
}

@media screen and (min-width: 360px) {
  .stories__banner-heading {
    top: calc(100vw * 9 / 16 / 2.5 + 30px);
  }
}

@media screen and (min-width: 576px) {
  .stories__banner-heading {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 700px) {
  .stories__banner-heading {
    top: calc(100vw * 9 / 16 / 2.5 + 20px);
  }
}

@media screen and (min-width: 768px) {
  .stories__banner-heading {
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 992px) {
  .stories__banner-heading {
    font-size: 1.8rem;
    left: 0;
    padding-left: 8%;
    padding-right: 8%;
  }
}

@media screen and (min-width: 1200px) {
  .stories__banner-heading {
    font-size: 2rem;
    top: 320px !important;
    padding-left: 100px;
    padding-right: 100px;
  }
}

.stories__btn-warning {
  color: $white;
  font-family: $font-family-sans-serif;
  font-size: 1rem;
}

.stories__btn-info--position {
  position: relative;
  bottom: 60px;
  right: 40px;
  float: right;
}

@media screen and (min-width: 992px) {
  .stories__btn-info--position {
    right: 60px;
  }
}
