// Variables
@import '0-tools/vars';
@import '0-tools/bootstrap-overrides';
@import '0-tools/content';

// Base items
@import '1-base/typography';
@import '1-base/links';
@import '1-base/buttons';
@import '1-base/content-typography';

// Modular components
@import '2-modules/header';
@import '2-modules/footer';
@import '2-modules/sliders';
@import '2-modules/global-nav';
@import '2-modules/local-nav';
@import '2-modules/foundation-board';
@import '2-modules/hero-slider';
@import '2-modules/scholarship-table';
@import '2-modules/tabbed-nav';
@import '2-modules/stories';
@import '2-modules/contacts';
@import '2-modules/action-cards';
@import '2-modules/events';
@import '2-modules/breadcrumb';
@import '2-modules/shop-smile';
@import '2-modules/sub-nav';
@import '2-modules/latest-news-widget';
@import '2-modules/alumni';
@import '2-modules/img-hover';
@import '2-modules/facilities';
@import '2-modules/banner';

// Layout items
// @import "3-layout/...";
@import '3-layout/positioning';

// Page specific styling
// @import "4-pages/...";
@import '4-pages/index/home';
