
// Variables
@use '0-tools/bootstrap-overrides';
@use '0-tools/black-baud_overrides';
@use '0-tools/overrides';
@use '0-tools/no-js';
@use '0-tools/print';

// Base items
@use '1-base/body';
@use '1-base/typography';
@use '1-base/links';
@use '1-base/buttons';
@use '1-base/content-typography';
@use '1-base/tables';
@use '1-base/img';
@use '1-base/blackbaud-overrides';
@use '1-base/borders';
@use '1-base/svg';
@use '1-base/video';
@use '1-base/clipboard';
@use '1-base/blockquote';
@use '1-base/lists';

// Modular components
@use '2-modules/sliders';
@use '2-modules/foundation-board';
@use '2-modules/scholarship-table';
@use '2-modules/stories';
@use '2-modules/contacts';
@use '2-modules/action-cards';
@use '2-modules/latest-news-widget';
@use '2-modules/alumni';
@use '2-modules/img-hover';
@use '2-modules/banner';
@use '2-modules/gallery';
@use '2-modules/benefits';
@use '2-modules/background';

// Layout items
// @use '3-layout/...';
@use '3-layout/positioning';
@use '3-layout/cards';
@use '3-layout/content';
@use '3-layout/margins';

// Page specific styling
// @use '4-pages/...';
@use '4-pages/index/home';
