---
layout: black-baud_form_custom-sub
baseurl: ../../../
title: New Alumni Graduation Celebration RSVP
sub-nav_section: "GIVE DAY"
sub-nav_section_link: false
description: >-
  Donation form for the KCC Foundation Annual GIVE DAY #strongtogether.
form_key: 461d247a-4b20-4ef4-8eec-e42b5836cd13
---

<div class="container mb-3">
  <div class="row">
    <div class="col">
      <nav class="navbar navbar-light bg-light sub-nav__navbar">
        <a class="navbar-brand" href="/giveday"><h2 class="typography__sub-nav--red-h2">GIVE DAY {{ 'today' | date: '%Y' }} Donation Form</h2></a>
        <ul id="subNavNav" class="nav ml-auto">
        {% assign section = page.sub-nav_section | downcase | append: "/" %}
        {% for nav in site.sub-nav_links %}
          {% if nav.link_href contains section %}
          <li class="nav-item js-sub-nav-item">
            <a href="{{ page.baseurl }}{{ nav.link_href }}" class="nav-link sub-nav__nav-link">{{ nav.link_text }}</a>
          </li>
          {% endif %}
        {% endfor %}
        </ul>
      </nav>
    </div>
  </div>
</div>
