
@media screen and (min-width: 768px) {
  .cards__min-height {
    min-height: 24rem;
  }
}

@media screen and (min-width: 992px) {
  .cards__min-height {
    min-height: 28rem;
  }
}

@media screen and (min-width: 1200px) {
  .cards__min-height {
    min-height: 23rem;
  }
}

.cards__border--rounder {
 border-radius: 15px;
}

.cards__border--sm {
  border: none;
}

@media screen and (min-width: 576px) {
  .cards__border--sm {
    border: 1px solid rgba(0,0,0,.125);
  }
}

.cards__border--rounder .card-img-top {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.cards__col--px {
  padding-left: 0;
  padding-right: 0;
}

@media screen and (min-width: 576px) {
  .cards__col--px {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (min-width: 768px) {
  .cards__col--mx {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .cards__col--mx {
    margin-left: 100px;
    margin-right: 100px;
  }
}

.cards__img {
  width: 80%;
}

.cards__img--mx {
  margin-left: 10%;
  margin-right: 10%;
}

@media screen and (min-width: 1200px) {
  .cards__padding--xl {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.cards__card-body--padding {
  padding: 1rem;
}

@media screen and (min-width: 576px) {
  .cards__card-body--padding {
    padding: 1.25rem;
  }
}

.cards__card-header--padding-left {
  padding-left: 0;
}
