// Positioning Styles
// ==========================================
.position__offset-fixed-nav {
  margin-top: 115px;
}

@media screen and (min-width:360px) {
  .position__offset-fixed-nav {
    margin-top: 115px;
  }
}

@media screen and (min-width:410px) {
  .position__offset-fixed-nav {
    margin-top: 120px;
  }
}

@media screen and (min-width:576px) {
  .position__offset-fixed-nav {
    margin-top: 145px;
  }
}

@media screen and (min-width:768px) {
  .position__offset-fixed-nav {
    margin-top: 160px;
  }
}

.position__img--center {
  margin-left: auto;
  margin-right: auto;
}

.position__img--fl-pad {
  padding-right: 10px;
}

.position__img--fr-pad {
  padding-left: 10px;
}

.container--tan-bg {
  background-color: $tan-accent;
}

.positioning__iframe-wrapper {
  margin-bottom: 20px;
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.positioning__iframe-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
