---
layout: sub-nav
---

<main>
  <div class="container">
    <div class="row">
      <div class="col">
        {{ content }}
      </div>
    </div>
    <div class="row">
      <div class="col{% if page.form_custom_wrapper_class and page.form_custom_wrapper_class != '' %} {{ page.form_custom_wrapper_class }}{% endif %} sub-nav__content--wrapper">
        {% if page.form_instructions and page.form_instructions != '' %}
        <hr>
        <div class="row">
          <div class="col">
            <p class="mb-0">
              {{ page.form_instructions }}
            </p>
          </div>
        </div>
        <hr>
        {% endif %}
        <div class="d-flex justify-content-center">
          <div id="bbox-root"></div>
          <script type="text/javascript">
            window.bboxInit = function () {
              bbox.showForm('{{ page.form_key }}');
            };
            (function () {
              var e = document.createElement('script'); e.async = true;
              e.src = 'https://bbox.blackbaudhosting.com/webforms/bbox-min.js';
              document.getElementsByTagName('head')[0].appendChild(e);
            }());
          </script>
        </div>
        {% if page.form_footer_note and page.form_footer_note != '' %}
        <hr>
        <div class="row">
          <div class="col">
            <p class="mb-0">
              {{ page.form_footer_note }}
            </p>
          </div>
        </div>
        <hr>
        {% endif %}
      </div>
    </div>
  </div>
</main>
