---
layout: sub-nav
baseurl: ../../
title: Annual Scholarship Event
description: >-
  The KCC Foundation hosts the Annual Scholarship Event, President’s Circle
  Dinner and Annual Fundraiser each year to raise money for scholarships,
  academic programs and capital projects. Learn how you can support these
  events.
banner: uploads/scholarship-breakfast_2019.png
banner_alt:
---

<main>
  <div class="container">
    <div class="row">
      <div class="col sub-nav__content--wrapper">
        <div class="col-12 col-lg-4 float-left text-center">
          <img src="{{ page.baseurl }}{{ page.banner }}" alt="{{ page.banner_alt }}" class="img-fluid banner" />
        </div>
        <div class="col-12 col-lg-8 float-right">
          <div class="editable">
              <p>At the annual Scholarship Event, scholarship recipients and those who donated to their scholarship have the opportunity to meet. Recipients share their appreciation with donors and talk more about their plans for the future. Donors are able to see firsthand the impact their donations made and how their contributions transformed students&rsquo; lives.</p>
              <h4 class="blue-heading">KCC Foundation Scholarship Breakfast</h4>
              <p>The KCC Foundation invites all 2019-20 Foundation Scholarship recipients and donors to the Scholarship Breakfast on Thursday, Oct. 17 from 7-9 a.m. in the College Center at KCC's Riverfront Campus, 100 College Drive, Kankakee.</p>
              <ul>
                <li>Check in at 7 a.m.</li>
                <li>Breakfast at 7:30 a.m.</li>
                <li>Program begins at 8 a.m.</li>
              </ul>
              <p><strong>This event is only open to 2019-20 KCC Foundation Scholarship recipients and donors.</strong></p>
              <p>For more information, please contact the Foundation Office at <a href="tel:18158028252">815-802-8252</a>. More information about KCC Foundation scholarships is at <a href="https://foundation.kcc.edu/scholarships">foundation.kcc.edu/scholarships</a>.</p>
          </div>
        </div>
      </div>
    </div>
    {% comment %}
    <div class="row gallery__row">
      <div class="col-12">
        <h3 class="blue-heading editable">
            2018 Scholarship Breakfast
        </h3>
      </div>
      {% assign scholarship_photos = site.photos | where: "category", "scholarship" %}
      {% for photo in scholarship_photos %}
      <div class="gallery__wrapper col-12 col-lg-3 col-md-4 col-sm-6">
        <button type="button" class="gallery__button" data-toggle="modal" data-target="#photoGallery" data-slide="{{ forloop.index0 }}">
          <div class="gallery__item">
            <img src="{{ page.baseurl }}assets/img/kcc-placeholder.png" data-src="{{ page.baseurl }}{{ photo.image_path }}" class="img-fluid" alt="{{ photo.image_alt }}" />
          </div>
        </button>
      </div>
      {% endfor %}
    </div>
    {% endcomment %}
  </div>
</main>

<div class="modal fade" id="photoGallery" tabindex="-1" role="dialog" aria-labelledby="photoGallery" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <div class="gallery__slides">
          <div id="gallerySlider">
            {% for photo in scholarship_photos %}
            <img src="{{ page.baseurl }}{{ photo.image_path }}" class="img-fluid" alt="{{ photo.image_alt }}" />
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
