---
layout: black-baud_form_custom-sub
baseurl: ../../
title: Scholarship Breakfast RSVP
sub-nav_section: "forms"
sub-nav_section_link: false
description: ''
form_key: 73edf4cf-6a4d-4939-92b6-6b3d38753d63
form_instructions: >-
  Complete and submit this form to RSVP for the Kankakee Community College 
  Foundation's <em>Scholarship Breakfast on Oct. 13 at the KCC Riverfront Campus</em>. <br>
  <strong>This event is only open to KCC Foundation Scholarship recipients and donors.</strong>
form_footer_note: >-
  Having issues with the online form? Please call 
  <a href="tel:+18158028100">815-802-8100</a> or email 
  <a href="mailto:kccfoundation@kcc.edu?subject=Graduation Celebration RSVP">kccfoundation@kcc.edu</a>.
form_custom_wrapper_class: positioning__bbForm--centered
---

{%- comment -%}
<!-- BlackBaud form does not work correctly on localhost!!!
      BB-form will only render properly on live `*.kcc.edu/`
=========================================================== -->
{%- endcomment -%}
<div class="container mb-3 mt-3">
  <div class="row">
    <div class="col">
      <nav class="navbar navbar-light bg-light sub-nav__navbar">
        <h2 class="typography__sub-nav--red-h2">{{ page.title }}</h2>
        <ul id="subNavNav" class="nav ml-auto">
        {% assign section = page.sub-nav_section | downcase | append: "/" %}
        {% for nav in site.sub-nav_links %}
          {% if nav.link_href contains section %}
          <li class="nav-item js-sub-nav-item">
            <a href="{{ page.baseurl }}{{ nav.link_href }}" class="nav-link sub-nav__nav-link">{{ nav.link_text }}</a>
          </li>
          {% endif %}
        {% endfor %}
        </ul>
      </nav>
    </div>
  </div>
</div>
